# Ambientes Virtuais
venv/
env/

# Cache do Python
__pycache__/
*.py[cod]

# Modelos e Dados Pesados (Opcional, mas recomendado)
# Descomente a linha abaixo se os arquivos .pkl (red_brain.pkl) mudarem a cada treino e forem muito pesados
# *.pkl 

# Logs e Históricos
Instinto/historico_treinos/
Q-learning/historico_treinos/
Q-learning/logs_tese/
Q-learning/Dados_antigos/